
.container {
    margin: 50px;
    display: flex;

}


a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 15px;
    width: 240px;
    height:50px;
    font-size: 32px;
    border: 2px solid #4dc44d;
    color: white;
    background: #4dc44d;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:hover {
    color: #4dc44d;
    background: transparent;

}

.nav {
    display: flex;
    flex-direction: column
}

.nav_1 {
    margin: 25px;
    display: flex;
    flex-direction: column

}


.nav_2 {
    margin: 50px 15px;
    display: flex;
    flex-direction: column
}
